@import "./style/normalize.css";
@import "./mixin.less";
@import "./style/theme.less"; // 主题配色

@font-face {
  /* 阿里巴巴普惠体 */
  font-family: PuHuiTi;
  src: url("./style/Alibaba-PuHuiTi-Regular.otf");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  font-family: PuHuiTi, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
