// 这里暴露出去的是CSS变量,缺点是不能直接用less中的 darken 和 lighten 了
@body-background-color: var(--body-background);
@font-color: var(--font-color);
@icon-color: var(--icon-color);
@live-item-background: var(--live-item-background);
@sidebar-background: var(--sidebar-background);
@sidebar-logo-background: var(--sidebar-logo-background);
@sidebar-font-color: @body-background-color;

.drag() {
  -webkit-app-region: drag;
  user-select: none;
  //visibility: hidden;
}

.no-drag() {
  -webkit-app-region: no-drag;
}

.flex(@direction:row,@justify-content:flex-start,@align-items: stretch) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify-content;
  align-items: @align-items;
}

// 带回弹的过渡
.bounce-transition(@property:all, @duration: 1s) {
  transition: @property @duration cubic-bezier(0.49, -0.3, 0.68, 1.23);
}

// 清除浮动
.clearFix() {
  zoom: 1;
  &::before,
  &::after {
    display: table;
    content: '';
  }
  &::after {
    clear: both;
  }
}

// 多行截取
.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis(@line-number) when (isnumber(@line-number)) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @line-number;
}
